<mat-card class="starShipCard">
  <mat-card-header>
    <mat-card-title>{{ starShip.name | titlecase }}</mat-card-title>
    <mat-card-subtitle>{{ starShip.model | titlecase }}</mat-card-subtitle>
  </mat-card-header>

  <img
    class="imgSize"
    mat-card-image
    alt="shipImage"
    [src]="starShip.imageUrl"
    onError="this.src='assets/img/404.png'"
  />

  <mat-card-content>
    <h3>{{ starShip.starship_class | titlecase }}</h3>
    <p>
      <strong>Fabricante:</strong> {{ starShip.manufacturer }}
      <br />
      <strong>Pasajeros:</strong> {{ starShip.passengers }}
    </p>
  </mat-card-content>

  <mat-card-actions class="cardAction">
    <button (click)="openDialog()" mat-raised-button color="primary">
      Ver más
    </button>
  </mat-card-actions>
</mat-card>
