.form-control {
  border: none !important;
}
.hr-line {
  margin-top: 0px;
}
.form {
  width: 75%;
  margin: 0 auto;
  &__required {
    margin-top: -12px;
    font-size: small;
  }
}

.buttons {
  margin-top: 30px;
  gap: 30px;

  &__register {
    background-color: #b99d6b;
    border-color: #b99d6b;
    width: 30%;
    color: #fff;
  }

  &__cancel {
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    color: #fff;
  }
}
