.imgSize {
  min-height: 200px;
}

.starShipCard {
  min-height: 600px;
}

.cardAction {
  margin: 0px !important;
  padding-bottom: 8px !important;
  position: absolute;
  bottom: 0px;
}
